html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: white;
    margin: 0;
}

.section:nth-child(2n+1) {
    background-color: #0f172a;
    color: white; 
}

.section:nth-child(2n) {
    background-color: white;
    color: #0f172a;
}

.section {
    height: 100vh;
    width: 100%;
}

/* Header ---------------------------------------------------------*/
#header {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#nameText,
#jobText, 
.navText,
#skillsText,
.card-title,
.underLinkText {
    text-shadow: 0.02em 0.02em 0 white,
    0.03em 0.03em 0 #014f86,
    0.06em 0.06em 0 #61a5c2,
    0.09em 0.09em 0 #ffe66d,
    0.11em 0.11em 0 #ff6700;
}

#nameText {
    font-size: 5rem;
    letter-spacing: .06ch;
    font-weight: 800;
    margin-bottom: 30px;
    text-align: center;
}


#jobText {
    font-size: 2rem;
    letter-spacing: .05ch;
    font-weight: 700;
    margin-bottom: 30px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    /* margin: 0 auto; Gives that scrolling effect as the typing happens */
    /* letter-spacing: .5em; Adjust as needed */
    animation: 
      blink-caret .75s step-end infinite;
}

/* The typewriter cursor effect */
@keyframes blink-caret {
from, to { border-color: transparent }
50% { border-color: orange; }
}

.nav {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.emoji {
    font-size:55px;
    margin: auto;
    margin-bottom: 5px;
}

#skillsIcon {
    font-size:50px;
    margin: auto;
    margin-bottom: 5px;
}

.navItem {
    display: flex; 
    flex-direction:column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform .2s;
}

.navItem:hover {
    transform: scale(1.1);
}

.navText {
    letter-spacing: .05ch;
    font-weight: 800;
    margin-top: 5px;
    font-size: 1.5rem;
}

/* skills ------------------------------------------------------------------ */
#skills,
#projects,
#links {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    width: auto;
    padding-bottom: 100px;
    padding-top: 100px;
    height: 100%;
}

#skillsText,
#projectsText,
#linksText {
    text-shadow: 0.02em 0.02em 0 white,
    0.03em 0.03em 0 #014f86,
    0.06em 0.06em 0 #61a5c2,
    0.09em 0.09em 0 #ffe66d,
    0.11em 0.11em 0 #ff6700;
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: .05ch;
    /* margin-top: 100px; */
    /* color: #01497c; */
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    /* overflow: hidden; Ensures the content is not revealed until the animation */
    /* border-right: .15em solid orange; The typwriter cursor */
    /* white-space: nowrap; Keeps the content on a single line */
    /* margin: 0 auto; Gives that scrolling effect as the typing happens */
    /* letter-spacing: .15em; Adjust as needed */
    /* animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite; */
    /* animation css */
}

hr {
    width: 70%;
    height: 10px;
    box-shadow: 0.02em 0.02em 0 white,
    0.03em 0.03em 0 #014f86,
    0.06em 0.06em 0 #61a5c2,
    0.09em 0.09em 0 #ffe66d,
    0.11em 0.11em 0 #ff6700;
    background-color: #0f172a;
    color: #0f172a;
    margin-bottom: 25px;
}

i {
    font-size: 100px;
    text-shadow: 0.02em 0.02em 0 white,
    0.03em 0.03em 0 #014f86,
    0.04em 0.04em 0 #61a5c2,
    0.05em 0.05em 0 #ffe66d,
    0.06em 0.06em 0 #ff6700;
    /* background-color: red; */
}

a.linkBox{
    color: #0f172a;
    text-decoration: none;
    
}

/* linkBox in links section */
a.linkBox:link{
    color:#0f172a;
}

a.linkBox:visited{
    color:#0f172a;
}

a.linkBox:hover{
    color:#0f172a;
}

a.linkBox:focus{
    color:#0f172a;
}

a.linkBox:active{
    color:#0f172a;
}


/* project links in projects area */
a.projectLinks {
    color: white;
    text-decoration: none;
}

a.projectLinks:link{
    color: white;
}

a.projectLinks:visited{
    color: white;
}

a.projectLinks:hover{
    color: white;}

a.projectLinks:focus{
    color: white;}

a.projectLinks:active{
    color: white;
}

.skillBox {
    text-align: center;
    padding: 30px;
    transition: transform .2s;
    cursor: pointer;
    text-decoration: none;
}

.skillBox:hover {
    transform: scale(1.1);
}

#skillsInfoBox {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 70%;
    flex-wrap: wrap;
    justify-content: space-between;
}

#skillsText {
    margin-bottom: 20px;
}

#cardBox {
    display: grid;
    grid-template-columns: auto auto;
}

.card {
    margin: 50px;
    /* box-shadow: 0.02em 0.02em 0 white,
    0.05em 0.05em 0 #014f86,
    0.07em 0.07em 0 #61a5c2,
    0.11em 0.11em 0 #ffe66d,
    0.13em 0.13em 0 #ff6700; */
    border: 0;
}

.card-img-top {
    height: 350px;
    /* background-color: red; */
}

.card-body {
    /* background-color: yellow; */
    color: white;
    background-color:#0f172a;
}


#projects {
    /* background: #0f172a;
    color: white; */
    height: auto;
    /* background-color: purple; */
}

.projectLinksBox {
    display: flex;
    justify-content:space-around;
    /* background-color: red; */
}

.projectLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    transition: transform .2s;
}

.projectLinks:hover {
    transform: scale(1.1);
}

.cardFlex {
    display: flex;
    flex-direction: column;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#links {
    height: 100vh;
    /* background-color: yellow; */
    /* align-content: center;
    justify-content: center; */
}

#linkButtons {
    display: flex;
    width: 70%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    /* background-color: red; */
}

.linkBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform .2s;
}

.linkBox:hover {
    transform: scale(1.1);
}

.underLinkText {
    margin-top: 10px;
}

#aboutMeText {
    margin-top: 50px;
    text-align: center;
    width: 50%;
}












@media screen and (max-width: 850px) {
    
    #nameText {
        font-size: 4rem;
        letter-spacing: .06ch;
        font-weight: 800;
        margin-bottom: 30px;
        text-align: center;
    }

    #jobText {
        font-size: 2rem;
        letter-spacing: .05ch;
        font-weight: 700;

    }

    .nav {
        width: 40%;
        display: flex;
        justify-content: space-between;
    }

    .emoji {
        font-size:40px;
        margin: auto;
    }

    #skillsIcon {
        font-size:35px;
        margin: auto;
    }

    .navItem {
        display: flex; 
        flex-direction:column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: transform .2s;
    }

    .navItem:hover {
        transform: scale(1.1);
    }

    .navText {
        letter-spacing: .05ch;
        font-weight: 700;
        margin: auto;
        font-size: medium;

    }

    i {
        font-size: 75px;
        text-shadow: 0.02em 0.02em 0 white,
        0.03em 0.03em 0 #014f86,
        0.04em 0.04em 0 #61a5c2,
        0.05em 0.05em 0 #ffe66d,
        0.06em 0.06em 0 #ff6700;
        /* background-color: red; */
    }

    .skillBox {
        text-align: center;
        padding: 20px;
        transition: transform .2s;
        text-decoration: none;
    }

    .skillBox:hover {
        transform: scale(1.1);
    }

    #skillsInfoBox {
        display: grid;
        grid-template-columns: auto auto auto;
        width: 70%;
        flex-wrap: wrap;
        justify-content: space-between;
        /* background-color: red; */
    }

    #cardBox {
        display: grid;
        grid-template-columns: auto;
        transform: scale(.7);
        margin-top: -200px;
    }

    .cardFlex {
        display: flex;
        flex-direction: column;
        
        /* background-color: yellow; */
    }

    #projects  {
        padding-bottom: 0;
        margin-bottom: -200px;
    }

    #cardBox {
        margin-top: -600px;
        margin-bottom: -300px;
    }

    #links {
        justify-content: center;
        align-content: center;
        height: 100vh;
        padding-bottom: 0;
    }
}














@media screen and (max-width: 650px) {
    
    #nameText {
        font-size: 3rem;
        letter-spacing: .06ch;
        font-weight: 800;
        margin-bottom: 25px;
        text-align: center;
    }

    #jobText {
        font-size: 1.4rem;
        letter-spacing: .05ch;
        font-weight: 800;
    }

    .nav {
        width: 40%;
        display: flex;
        justify-content: space-between;
    }

    .emoji {
        font-size:35px;
        margin: auto;
    }

    #skillsIcon {
        font-size:30px;
        margin: auto;
    }

    .navItem {
        display: flex; 
        flex-direction:column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: transform .2s;
        /* margin: 10px; */
    }

    .navItem:hover {
        transform: scale(1.1);
    }

    .navText {
        letter-spacing: .05ch;
        font-weight: 600;
        font-size: .7rem;
        margin: auto;
    }

    i {
        font-size: 40px;
        text-shadow: 0.02em 0.02em 0 white,
        0.03em 0.03em 0 #014f86,
        0.04em 0.04em 0 #61a5c2,
        0.05em 0.05em 0 #ffe66d,
        0.06em 0.06em 0 #ff6700;
        /* background-color: red; */
    }

    .skillBox {
        text-align: center;
        padding: 10px;
        transition: transform .2s;
        text-decoration: none;
    }

    

    .skillBox:hover {
        transform: scale(1.1);
    }

    #skillsInfoBox {
        display: grid;
        grid-template-columns: auto auto auto;
        width: 70%;
        flex-wrap: wrap;
        justify-content:space-around;
        /* background-color: yellow; */
    }

    #cardBox {
        display: grid;
        grid-template-columns: auto;
        /* max-height: fit-content; */
        /* margin-top: 30px; */
    }

    #linkButtons {
        display: grid;
        grid-template-columns: auto auto;
        margin: 30px;
    }

    #skills {
        justify-content: center;
        height: 100vh;
    }

    #links {
        justify-content: center;
        align-content: center;
        height: 100vh;
        padding-bottom: 0;
    }

    #aboutMeText {
        margin-top: 50px;
        text-align: center;
        width: 60%;
        font-size: 1.1rem;
    }



}


@media screen and (max-width: 1100px) {
    #skillsInfoBox {
        display: grid;
        grid-template-columns: auto auto auto;
        width: 70%;
        flex-wrap: wrap;
        justify-content:space-around;
        /* background-color: yellow; */
    }
    .navText {
        letter-spacing: .05ch;
        font-weight: 600;
        /* font-size: 1.1rem; */
        margin: auto;
        margin-top: 10px;
    }

    /* i {
        font-size: 90px;
        text-shadow: 0.02em 0.02em 0 white,
        0.03em 0.03em 0 #014f86,
        0.04em 0.04em 0 #61a5c2,
        0.05em 0.05em 0 #ffe66d,
        0.06em 0.06em 0 #ff6700;
        /* background-color: red; */
    

    #cardBox {
        display: grid;
        grid-template-columns: auto;
    }

    #links {
        justify-content: center;
        align-content: center;
        height: 100vh;
        padding-bottom: 0;
    }

    #linkButtons {
        display: grid;
        grid-template-columns: auto auto;
        margin: 30px;
    }
}
